#about {
  padding-top: 0;
}

.about-me {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.avatar {
  width: 130px;
  height: 130px;
}

.avatar:hover {
  transform: scale(1.05);
}

.me-description {
  margin: 22px 0;
}

@media screen and (min-width: 800px) {
  .about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 650px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .me-description {
    max-width: 400px;
  }
  .me-description h3 {
    margin-bottom: 17px;
  }
}