footer {
  background-color: var(--theme-color-dark);
  color: white;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}

footer div {
  margin: 0 30px;
}

footer p {
  margin: 0;
}

.social-icons a {
  margin-right: 30px;
  color: white;
}

/* @media screen and (min-width: 800px) {
  footer {
    justify-content: space-between;
  }
} */