@import './header.css';
/* standard colors */

:root {
  --theme-color-light: #efeff7;
  --theme-color: #d8d8e2;
  --text-color: #2b2b2b;
}

body {
  background-color: var(--theme-color-light);
}
/* title font  */

h1,h2,h3 {
  font-family: 'Roboto Slab', serif;
}