@import './header.css';
@import './home.css';
@import './footer.css';
@import './projects.css';
@import './about.css';
@import './testimonials.css';
@import './contact.css';

/* standard colors */
:root {
  --theme-color-light: #f7f7f8;
  --theme-color: #d8d8e2;
  --theme-color-dark: #090516;
  --theme-color-green: #8bc34a;
  --theme-color-hover: #d8d8e2;
  --text-color: #2b2b2b;
  --text-color-2: #8f8f8f;
}

body {
  background-color: var(--theme-color-light);
  color: var(--text-color);
}
#root {
  overflow-x: hidden;
}
/* title font  */

section {
  padding: 30px 0;
}

h1,h2,h3,h4 {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-size: 1.3em;
}

.grey-text {
  color: var(--text-color-2)!important;
}

.green-text {
  color: var(--theme-color-green)!important;
}

.title-container {
  text-align: center;
}

.title {
  padding: 20px 0;
}

@media screen and (min-width: 560px) {
  .title-container {
    text-align: left;
    padding: 20px 100px;
  }
}