@import './header.css';
@import './home.css';
@import './footer.css';
@import './projects.css';
@import './about.css';

/* standard colors */
:root {
  --theme-color-light: #fdfdff;
  --theme-color: #d8d8e2;
  --theme-color-hover: #d8d8e2;
  --text-color: #2b2b2b;
  --text-color-2: #8f8f8f;
}

body {
  background-color: var(--theme-color-light);
  overflow-x: hidden;
  color: var(--text-color);
}
/* title font  */

h1,h2,h3 {
  font-family: 'Roboto Slab', serif;
}

.grey-text {
  color: var(--text-color-2)!important;
}

.title {
  padding: 20px 100px;
}