/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Slab&display=swap');
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #424242;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.7em;
  @media (min-width: 768px) {
    font-size: 2em;
  }
  @media (min-width: 992px) {
    font-size: 2.6em;
  }
}

a {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}